div{
  padding: 3px;
}
.app-box{
  margin: 5px;
  padding: 5px;
  border: 1px solid green;
}
.app-box-2rem{
  width: 2rem;
  height: 2rem;
}
.app-margin-left-s{
  margin-left: 10px;
}
.app-margin-left{
  margin-left: 20px;
}
.app-margin-left-b{
  margin-left: 30px;
}
.app-margin-right{
  margin-right: 20px;
}
.app-margin-top-s{
  margin-top: 10px;
}
.app-text-size{
  font-size: 2rem;
}
.app-text-center{
  text-align: center;
}
.app-text-right{
  text-align: right;
}
.app-text-weight{
  font-weight: bold;
}
.app-color-blue{
  color: #1890ff;
}
.app-cursor{
  cursor: pointer;
}
.app-flex{
  display: flex;
}